<form id="note_edit" method="post">
    <div class="searchbox">
        <input type="hidden" name="_do" value="store" />
        <div class="searchresults">
            <div class="edit_content">                
                <h2>%[lbl_add_note]%</h2>
                <textarea style="width:90%; height:100px;" name="note">%[description]%</textarea>
                <div class="actions">
                    <input type="submit" id="fld_save" value="%[lbl_save]%" />
                </div>   
            </div>                    
        </div>
    </div>
</form>