<h2>%[lbl_order]%</h2>
<input type="hidden" id="orderid" value="%[orderid]%" />
<input type="hidden" id="relation_id" value="%[relation_id]%" />
<span id="confirm_sure" style="display:none;">%[lbl_sure_delete]%</span>
<div class="searchbox">
    <div class="searchresults" style="padding:2px;">
        <div class="searchtitle" style="margin:0;">Bestel informatie</div>
        <div class="searchresults">    
            <div style="padding:10px;">
                <div id="customer_info">
                    %[customer_info]%
                </div>
                    <table style="width:100%;">                        
                         <tr><td colspan="2"><h2>%[lbl_helped_by]%:</h2>                <td colspan="2"><h2>%[lbl_helped_on]%:</h2></td></tr>
                         <tr><td>%[lbl_created]%</td><td>%[created_by]%</td>            <td>%[lbl_created]%</td><td>%[order_date]%</td></tr>            
                         <tr><td>%[lbl_accepted]%</td><td>%[accepted_by]%</td>          <td>%[lbl_accepted]%</td><td>%[accepted]%</td></tr>
                         <tr><td>%[lbl_picked]%</td><td>%[picked_by]%</td>               <td>%[lbl_picked]%</td><td>%[picked]%</td></tr>
                         <tr><td>%[lbl_send]%</td><td>%[send_by]%</td>                  <td>%[lbl_send]%</td><td>%[send]%</td></tr>                                           
                         <tr><td>%[lbl_payment_approved]%</td><td>%[payment_approved_by]%</td>  <td>%[lbl_approved]%</td><td>%[paid]%</td></tr>
                    </table>                        
                <div>                                 
                    <div id="order_view_tbl">
                        %[order_view_tbl]%
                    </div>
                </div>    
            </div>                                                                        
        </div>
    </div>
</div>             