<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-1015096-3', 'auto');
ga('require', 'ecommerce');

</script>
<script>
ga('ecommerce:clear');
ga('ecommerce:addTransaction', {
     id            : '4692', 
     affiliation   : 'allamericansports.nl',
     revenue       : '-2941.66',
     currency        : 'EUR',
     tax           : '-6.177486'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Wilson NFL Tackified Composite',
     sku         : '5019973813581',
     price       : '-33.02',
     quantity    : '1'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Reebok VRPNT 11,5 inch',
     sku         : '883623820848',
     price       : '-57.81',
     quantity    : '14'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Rawlings Youth Batting Gloves',
     sku         : '083321976971',
     price       : '-20.62',
     quantity    : '4'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Bike Softball Knee Pads Short - Black',
     sku         : '711310631401',
     price       : '-20.62',
     quantity    : '9'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'TT Hitting Discs',
     sku         : '692863108131',
     price       : '-37.15',
     quantity    : '3'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Ringor Star Spike PTT-Black',
     sku         : '3042S-04-090',
     price       : '-99.13',
     quantity    : '4'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Rawlings YB Raptor - 11',
     sku         : '083321412882',
     price       : '-41.28',
     quantity    : '3'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Russell Athletic Padded Sliding Short Women',
     sku         : '023255744994',
     price       : '-28.88',
     quantity    : '9'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Russell Athletic Padded Sliding Short Women',
     sku         : '023255745007',
     price       : '-28.88',
     quantity    : '2'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Under Armour Performance Polo - Black',
     sku         : '883814124496',
     price       : '-37.15',
     quantity    : '3'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Worth 5-Tool 14 inch softball',
     sku         : '043365038318',
     price       : '-12.36',
     quantity    : '12'
});
ga('ecommerce:addItem', {
     id          : '4692',
     name        : 'Under Armour Performance Polo - Red',
     sku         : '883814124595',
     price       : '-37.15',
     quantity    : '3'
});
ga('ecommerce:send');
alert('4692 done!');
</script>